<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de tarefas</title>
</head>
    <body>

        <h1>Hoje é <%= dia %>!</h1>
        
        <form action="/" method="POST">
            <p>Digite a sua lista</p>
            <input name="item" type="text" placeholder="Digite o nome do item">
            <button type="submit">Enviar!</button>
        </form>

        <ul>
            <% for (var i = 0; i < itens.length; i++){ %>
            <li><%= itens[i] %></li>
            <% } %>
        </ul>
