<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Lista de tarefas</title>
</head>
    <body>
        <div class="caixa" id="cabecalho">
            <h1>Hoje é <%= dia %>!</h1>
        </div>

        <div class="caixa">
            <% for (var i = 0; i < itens.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= itens[i] %></p>
            </div>
            <% } %>
            <form action="/" method="POST" class="item">
                <input name="item" type="text" placeholder="Digite o nome do item" autocomplete="off">
                <button type="submit" name="botao">+</button>
            </form>
        </div>
    </body>
</html>
