<%- include('cabecalho') -%>
<div class="caixa" id="cabecalho">
    <h1>Sobre</h1>
</div>
<div class="caixa formatado">
    <p>
        Aqui supostamente tem um texto
        para falar sobre a empresa
        porém eu não tenho nada para
        escrever.
    </p>
</div>

<%- include('rodape') -%>